.form {
  @apply flex
    gap-2
    items-center
    bg-color-white
    rounded-2xl
    pr-2
    pl-1
    py-2
    xs:pl-4
    sm:gap-4
    relative
    sm:pl-8;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.dark .form {
  @apply bg-color-port-gore;
}
