.heading {
  @apply font-bold;
}

.heading-h1 {
  @apply text-2xl;
}
.heading-h2 {
  @apply text-xl;
}
.heading-h3 {
  @apply text-base;
}
.heading-h4 {
  @apply text-xs;
}
.dark .heading {
  @apply text-color-white;
}

.light .heading {
  @apply text-color-tuna;
}
