.table {
  @apply w-full;
}
.table-head {
  @apply capitalize
  flex
  justify-around
  xs:grid
  xs:grid-cols-3
 xs:place-items-center;
}
.table-head span,
.table-body span {
  @apply flex-1 text-center;
}
.table-body {
  @apply capitalize
  flex
  justify-around
  text-center
  xs:grid
  xs:grid-cols-3
 xs:place-items-center;
}
